@use 'common/colours';
@use 'common/fonts';

body {
  margin: 0;
  background: colours.$dark;
  font-family: fonts.$main;
  color: colours.$light;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
