@use 'common/colours';
@use 'common/fonts';

body {
  display: flex;
  justify-content: center;
  margin: 5%;
  background: colours.$dark;
  text-align: center;
  font-family: fonts.$main;
  color: colours.$light;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
