@use 'common/colours';
@use 'common/fonts';

body {
  display: flex;
  justify-content: center;
  margin: 5%;
  background: colours.$dark;
  text-align: center;
  font-family: fonts.$main;
  color: colours.$light;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &::-webkit-scrollbar {
    width: 15px;
  }
  &::-webkit-scrollbar-track {
    background: colours.$dark;
    border-radius: 20px;
    box-shadow: inset 0 0 6px rgba(0,0,0,1);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1); 

  }
  &::-webkit-scrollbar-thumb {
    background-color: colours.$light;
    border-radius: 20px;
  }

}

.App {
  display: flex;
  justify-items: center;
}

#game-container {
  display:flex;
  flex-direction: column;
  align-items: center;
}
