@use 'common/colours';
@use 'common/fonts';

.save-selection-modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 10%;
  left: 15%;
  right: 15%;
  bottom: 10%;
  border: 3px solid colours.$light;
  // border-radius: 12px;
  background: colours.$dark;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  outline: none;
  padding: 20px;
  box-shadow:  0 5px 15px 5px rgba(0,0,0, 0.25);

  .story-display {
    // justify-self: center;
    align-self: center;
    height: 35%;
  }

  .save-slot-list {
    display: flex;
    margin: 5% 10%;

    .save-slot-list-item {
      display: inline-flex;
      height: 75px;
      width: 300px;
      border: 2px solid colours.$light;
      cursor: pointer;
      transition: all .25s ease-out;
      
      &:hover {
        background-color: colours.$light;
        color: colours.$dark;
      }

      &:active {
        background-color: colours.$dark;
        color: colours.$light;
        transition: none;
      }
    }

    #new-game-button {
      font-weight: bold;
      align-items: center;
      justify-content: space-around;
      text-transform: uppercase;
    }
  }

}

.save-selection-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.25);
}
